<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href= '/'>Home</a>
    <a href= '/listTask'>List Task</a>
	<a href = 'newTask'>New Task</a>
	<a href= '/deleteTaskPage'>Delete Task</a>
	<a href = 'updateTaskPage'>Update Task</a>
    
	<p>
	<table>
        <form action="/updateTask" method="POST">
			<tr>
				<td>Task ID:</td>
				<td><input type="number" name="taskID"><br></td>
			</tr>
			<tr>
				<td>Task Status:</td>
				<td><select name = "status">
					<option value="In Progress" name = "progress">In Progress</option>
					<option value="Completed" name = "completed">Completed</option>
				</select></td>
			</tr>
			<tr>	
				<td><input type="submit" value="Enter"></td>
			</tr>
        </form>
	</table>
    </p>
    
</body>

</html>